<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:inline="css" th:href="@{/css/boards.css}" rel="stylesheet">
</head>

<body>

<div layout:fragment="Content" class="content_wrap">
    <h3>책 요청 게시판 (<span th:text="${responseDTO.total}">0</span>개)</h3>
    <form class="form1 rBookForm" action="/board/request_book_list" method="post">
        <form onsubmit="validateForm()">
            <input type="text" id="content" th:name="content"
                   th:placeholder="${session.mid} ? '책 이름, 작가, 출판사 등을 입력해주세요' : '로그인 이후 작성 가능합니다.' "
                   required>
            <input type="submit" class="Rsub" th:if="${session.mid}" value="등록">
        </form>

    </form>

    <div id="boardList">
        <div>
            <table>
                <thead>
                <tr>
                    <th scope="col">책이름</th>
                    <th scope="col">신청자</th>
                    <th scope="col">작성일</th>

                </tr>
                </thead>
				
                <tbody th:with="link = ${pageRequestDTO.getLink()}">
                <tr th:each="dto:${responseDTO.dtoList}">
                    <td>[[${dto.content}]]</td>
                    <td>[[${dto.nickname}]]</td>
                    <td>[[${#temporals.format(dto.regDate,'yyyy-MM-dd')}]]</td>
                    <td th:if="${#strings.equals(session.mid, dto.memberId)}">
                        <a th:href="@{/board/remove_request_book(bdid=${dto.bdid})}">삭제</a></td>
                </tr>
                </tbody>
            </table>
            <!--페이지 버튼-->
            <div class="pagination_for_board rbookPagination">
                <ul>
                    <div th:if="${responseDTO.total > 0}">
                        <li class="page-item" th:if="${responseDTO.prev}">
                            <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
                        </li>
                    </div>

                    <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                        <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                            <a class="page-link" th:data-num="${i}"
                               th:href="@{/board/request_book_list(page=${i})}">[[${i}]]</a>
                        </li>
                    </th:block>
                    <li th:if="${responseDTO.next}">
                        <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".rbookPagination").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if (target.tagName !== 'A') {
            return;
        }

        const num = target.getAttribute("data-num");
        console.log(num)
        console.log('/board/request_book_list?page=' + num)
        window.location.href = '/board/request_book_list?page=' + num

    }, false)


    function validateForm() {
        const requestContent = document.getElementById("content").value;

        if (requestContent == "" || requestContent.length == 0 || requestContent == null) {
            alert("msg");
            return false;
        }

        return true;
    }
</script>
</body>
</html>
